.sideMenu {
  margin-left: 0px;
  padding-top: 55px;
  height: 100vh;
  width: 40vh;
  border-right: 1px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding-top: 20px;
  border-style: solid;
  border-color: white;
  position: fixed;
}

.glow-border {
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: solid;
  border-color: white;
}

.side-ul {
  list-style: none;
  padding: 1rem 2rem;
}

.side-li {
  margin-bottom: 1rem;
}
.linkMenu {
  color: white !important;
}

.btn-margin {
  margin: 5px;
}

.right-padding {
  padding-right: 10px;
}

.left-padding {
  padding-left: 10px;
}

.thumbnail {
  margin: 10px 0;
}

.fl-right {
  float: right;
}

.grid-fix {
  margin-top: 65px;
  margin-left: 43vh;
}

.p-t-sub {
  padding-top: 55px;
}

.sub-nav {
  z-index: 100;
}

.lang-select {
  padding: 0em 0.5em 0em 0.5em !important;
}

.lang-opt {
  color: white !important;
  background-color: #6c757d !important;
}

@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  .sideMenu {
    height: calc(100vh - 55px);
    width: 100%;
    z-index: 101;
    padding-top: 0px;
  }

  .grid-fix {
    margin-left: 0;
  }

  .side-ul {
    list-style: none;
    padding: 5px;
  }

  .side-li {
    margin-bottom: 0;
  }

  img {
    max-width: 300px;
  }
}
/*Menor a 576px es un móvil xd*/
